{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url "index" %}"><h1>AskPupkin</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex mx-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success rounded-0" type="submit"> ASK! </button>
      </form>
      {%if user.is_authenticated %}
      {% if user.userprofile.has_avatar %}
      <img 
        class="img-fluid img-thumbnail m-10"
        style="width:7%;height:7%"
        src="{{ user.userprofile.avatar.url }}"/>
      {% else %}
      <img 
        class="img-fluid img-thumbnail m-10"
        style="width:7%;height:7%"
        src="{% static 'img/default.jpg' %}"/>
      {% endif %}
    
      <ul class="navbar-nav">
          <div class="container">
              <div class="row">
                  <div class="col">
                     <span class="mx-2">
                         {{user.username}}
                     </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                        <li class="nav-item">
                            <a class="nav-link link-primary" style="text-decoration: underline;" href="{% url 'settings' %}">Settings</a>
                        </li>
                  </div>
                  <div class="col">
                        <li class="nav-item">
                            <a class="nav-link link-primary" style="text-decoration: underline;" href="{% url 'logout' %}">log out</a>
                        </li>
                  </div>
              </div>
            
          </div>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
      </ul>

      {% else %}
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link link-primary" style="text-decoration: underline;" href="{% url 'login' %}">Log in</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link link-primary" style="text-decoration: underline;" href="{% url 'signup' %}">Registration</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
<hr>
