<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% for p in pages.paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p }}">p</a>
            </li>
      {% endfor %}
  </ul>
</nav>
