{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
{%if user.is_authenticated %}
<form method='POST' action='{% url 'ask' %}'>
    {% csrf_token %}
    <h1> Ask </h1>
    <div class="mb-3 row">
        <label for="inputQuestionTitle" class="col-sm-2 col-form-label">Title</label>
        <div class="col">
            <input name="title" type="text" placeholder="Enter your title here" class="form-control" id="inputTitle" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label  for="inputQuestion" class="col-sm-2 col-form-label">Email</label>
        <div class="col">
            <textarea name="content" type="text" placeholder="Enter your question here" class="form-control" id="inputQuestion" required>
            </textarea>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputTags" class="col-sm-2 col-form-label">Tag</label>
        <div class="col">
            <input name="tags" type="tags" placeholder="Enter tags here" class="form-control" id="inputTags" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="forFile" class="col-sm-2 col-form-label">Upload</label>
        <div class="col">
            <input class="form-control" type="file" id="formFile">
            <button type="submit" class="mt-3 btn btn-outline-secondary rounded-0 shadow" style="color: black;">Ask !</button>
        </div>
    </div>
</form>
{% else %}
<div class="row jutify-center-start">
    <h4 class="col">
        You should login before asking questions
    </h4>
</div>
{% endif %}
{% endblock %}
