<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home{% endblock %}</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <style>
     .list-group-item {
          border: none;
        }
     
    input:invalid + span::before {
      content: "✖";
      color: red;
    }
    </style>
    <body>
        {% include "includes/navbar.html" %}
        {% if messages %}
            {% for m in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ m }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endfor%}
        {% endif %}
        <div class="container align-items-start">
            <div class="row">
                <div class="col-lg-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-sm-4">
                    <h1>Popular Tags</h1>
                    <div>
                        <ul class="list-group list-group-horizontal flex-wrap">
                            {% for t in tags %}
                            <li class="list-group-item">
                                <a class="link-primary link-offset-2 link-underline-opacity-0 text-black" 
                                   href="{% url 'tag' t.value %}" 
                                    style="text-deciration:none;">
                                    {{ t.value }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <h1>Best Members</h1>
                    <div>
                        <ul class="list-group">
                            {% for member in bestmembers %}
                            <li class="list-group-item">
                                {% url member.nickname as the_url  %}
                                <a href="{{ the_url }}"> {{ member.nickname }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
