
{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <h1> Log In </h1>
    <div class="mb-3 row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-4">
            <input name="login" type="login" placeholder="Enter you login here" class="form-control" id="inputLogin" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
            <input name="password" type="password" class="form-control" id="inputPassword" required>
            <button type="submit" class="mt-3 btn btn-outline-secondary rounded-0 shadow" style="color: black;">Log In</button>
            <a class="mt-3 nav-link link-primary" style="text-decoration: underline;" href="{% url 'signup' %}">create new account</a>
        </div>
    </div>
</form>
{% endblock %}
