{% extends "base.html" %}
{% load static %}

{% block title %} {{current.title}}{% endblock %}

{% block content %}
<ul class="list-group d-flex flex-fill">
    <li class="list-group-item mb-3" 
        >
        <div class="row">
            <div class="col-sm-3">
                {% if author.has_avatar %}
                    <img 
                        class="img-fluid img-thumbnail"
                        src="{{ author.avatar.url}}"/>
                {% else %}
                    <img 
                        class="img-fluid img-thumbnail"
                        src="{% static 'img/default.jpg' %}"/>
                {% endif %}
                <div class="d-flex justify-content-center m-auto">
                    {{current.raito}}
                </div>
            </div>
            <div class="col-sm-7" >
                <p class="d-flex flex-wrap">{{current.contents}}</p>
                <div class="row">
                    <div class="col">
                        <div class="row d-flex">
                            <div class="col-sm-2 pt-1 m-0">
                                Tags:
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-group list-group-horizontal flex-wrap justify-content-center"
                                    >
                                    {% for t in current.tags %}
                                    <li class="list-group-item p-1">
                                        <a class="link-primary link-offset-2 link-underline-opacity-1"
                                            >
                                            {{ t.value }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<hr>
<div>
    <ul class="list-group d-flex">
        {% for i in current.answers %}
        <li class="list-group-item"
            style="border:solid;border-width:1px;border-radius:0;"
            >
            <div class="row">
                <div class="col-sm-3">
                    <img 
                        class="img-fluid img-thumbnail"
                        src="{% static 'img/default.jpg' %}"/>
                    <div class="d-flex justify-content-center m-auto">
                        {{current.raito}}
                    </div>
                </div>
                <div class="col">
                    <p>
                    {{i.contents}}
                    </p>
                    <form>
                        {% if i.is_correct %}
                        <div class="form-check">
                            <input class="form-check-input" 
                                   type="checkbox" 
                                   id="flexCheckChecked" checked disabled>
                          <label class="form-check-label" for="flexCheckChecked">
                              Correct
                          </label>
                        {% else %}
                        <div class="form-check">
                            <input class="form-check-input" 
                                   type="checkbox" 
                                   id="flexCheckChecked" disabled>
                          <label class="form-check-label" for="flexCheckChecked">
                              Correct
                          </label>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<hr>

<form>
    <div class="col">
       <div class="row-lg-2">
          <textarea 
                class="form-control" 
                id="controlTextarea" 
                placeholder="Enter your answer here"
                style="border:solid; border-width: 1px; border-radius: 0"
                rows="3">
          </textarea>
       </div> 
       <div class="row mt-2">
           <div class="col">
                <button 
                    type="submit" 
                    class="btn btn-secondary rounded-0 shadow text-white" 
                    style="color: black;">
                 Answer!
                </button>
           </div>
       </div> 
    </div>
</form>
{% endblock %}
