
{% extends "base.html" %}
{% load static %}

{% block title %} Settings {% endblock %}

{% block content %} 
<form method='POST' action='{% url 'signup' %}'>
    {% csrf_token %}
    <h1> Registration </h1>
    <div class="mb-3 row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-4">
            <input name="login" type="login" placeholder="Enter you login here" class="form-control" id="inputLogin" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label  for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <input name="email"type="email" placeholder="Enter you email here" class="form-control" id="inputEmail" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
        <div class="col-sm-4">
            <input name="nickname" type="nickname" placeholder="Enter you nickname here" class="form-control" id="inputNickName" required>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="forFile" class="col-sm-2 col-form-label">Upload</label>
        <div class="col-sm-4">
            <input class="form-control" type="file" id="formFile">
            <button type="submit" class="mt-3 btn btn-outline-secondary rounded-0 shadow" style="color: black;">Save</button>
        </div>
    </div>
</form>
{% endblock %}

