{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<ul class="list-group d-flex flex-fill">
    {% for q in questions %}
    <li class="list-group-item mb-3" 
        style="border: solid;border-width: 2px;border-radius:0;">
        <div class="row">
            <div class="col-sm-3">
                <img 
                    class="img-fluid img-thumbnail"
                    src="{% static 'img/default.jpg' %}"/>
                <div class="d-flex justify-content-center m-auto">
                    {{q.raito}}
                </div>
            </div>
            <div class="col-sm-7" >
                <a href="{% url 'question' q.id %}"> <h2>{{q.title}}</h2> </a>
                <p class="d-flex flex-wrap">{{q.description}}</p>
                <div class="row">
                    <div class="col pt-1">
                        <a href="">answers ({{q.answers_count}})</a>
                    </div>
                    <div class="col">
                        <div class="row d-flex">
                            <div class="col-sm-2 pt-1 m-0">
                                Tags:
                            </div>
                            <div class="col-lg-10">
                                <ul class="list-group list-group-horizontal flex-wrap justify-content-center"
                                    >
                                    {% for t in q.tags %}
                                    <li class="list-group-item p-1">
                                        <a class="link-primary link-offset-2 link-underline-opacity-1" 
                                            >
                                            {{ t.question_tag }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
